body{
    background-color:#0e1a34;
/*    color:#fff;*/
    overflow-x:hidden; 
    }
 /*   p6 plus*/
.pickup{
    position: absolute;
    width:100%;
    height: 600px;
    background-image: url(image/bg1.png);
    background-size: 100% 100%;
}
.puser{
    margin-top:14em;
    margin-left:8em;

}
.userpic{
    margin-top: 10px;
    width:23px;
    height:23px;
    border:1px solid;
}
.pickup>.sixpz{
    margin-top: 2em;
    position: relative;
    width:22.5em;
    margin-left:auto;
    margin-right:auto;
}
.pz{
    position: absolute;
    width:7.5em;
}
.pz:nth-of-type(2){
    left:7.4em;
}
.pz:nth-of-type(3){
    left:14.8em;
}
.pz:nth-of-type(4){
    top:6.5em;
}
.pz:nth-of-type(5){
    top:6.5em;
    left:7.4em;
}
.pz:nth-of-type(6){
    top:6.5em;
    left:14.8em;
}
.pz .bigpic{
    width:7.4em;
    z-index:1;
}
.pz>.smallpic{
    display: none;
    width:3.5em;
    z-index:3;
    position: absolute;
    top:0;
    left: 0;
}
.pz>.iconnum{
    display: none;
    position: absolute;
    z-index:2;
    left: 1.5em;
    top:0.2em;
}
.clear{
    clear:both;
}
.fshelpbtn{
    position: absolute;
    top:14em;
}
.fshelpbtn img{
    width: 11em;
    margin-left:5.5em;
}
#ticketbtn{
    display: none;
}
#myticketbtn{
    display: none;
}
#fshelpbtnbtn{
    /*display: none;*/
}
.messagescroll{
    position: absolute;
    color:#000;
    width: 23.2em;
    height:18em;
    border: 2px #4c5879 solid;
    border-radius: 1em;
    background-color: #0e1a34;
    top:37em;
    left:1.2em;

}
.mesheader{
    color:#a6b4cf;
    width: 23.2em;
    height:3em;
    border: 1px #55607a solid;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: rgba(85,96,122,0.5);
    margin:-1px -1px;
    text-align: center;
    vertical-align: middel;
}
.mesheader span{
    display: block;
    font-size: 1.2em;
    line-height:2.3em;

}
.mesblock{
    color:#a6b4cf;
    width:96%;
    margin:4% 2%;
}
.mesblock img{
    width:100%;
    margin-top: 1.5em;
}
.fspic{
    position: absolute;
    left:1em;
    width:40px;
    height:40px;
    border:1px solid;
}
.fsid{
    color:#fff;
    margin-left:5em; 
}
.fstime{
    margin-left: 2em;
    font-size: 0.8em;
}
.fsmsg{
    display: block;
    margin-left:5.5em;
    margin-top: 0.5em;
    font-size: 0.9em;
}
.commentary{
    position: absolute;
    background-image: url(image/bg2.png);
    background-size: 100% 100%;
    width:100%;
    top:58em;
    height: 70em;
}
#welfare{
    background-image: url(image/welfare.png);
    background-size: 100% 100%;
    width:5em;
    height: 1.8em;
    position: absolute;
    top:14.8em;
    left:18em;

}
#welfare:hover{
    background-image: url(image/welfareA.png);
}
#publicid{
    font-size: 0.95em;
    color: #fac500;
    position: absolute;
    bottom: 8.3em;
    right:10em;
}
#firstpick{
    display: none;
    position: absolute;
    height: 130em;
    width: 100%;
    z-index:9;
    background-color: rgba(34,34,34,0.8);

}
#firstpick img{
    width: 25em;
    margin:auto;
    margin-top: 10em;
}
#sharefs{
    display: none;
    position: absolute;
    height: 130em;
    width: 100%;
    z-index:99;
    background-color: rgba(34,34,34,0.8);
}
.share5line{
    height: 30em;
    position: absolute;
    right: 2em;
    top:2em;
}
#fspick{
    display: none;
    position: absolute;
    height: 130em;
    width: 100%;
    z-index:9;
    background-color: rgba(34,34,34,0.8);

}
#fspick img{
    width: 25em;
    margin:auto;
    margin-top: 10em;
}
#welfaremsg{
    display: none;
    z-index: 19;
    position: absolute;
    top:64.8em;
    left:1em;
    width: 90%;
}

#win{
    display: none;
    position: absolute;
    height: 130em;
    width: 100%;
    z-index:99;
    background-color: rgba(34,34,34,0.8);
}
.clowin{
    position: absolute;
    top: 5em;
    left:2em;
    z-index: 100;

}
#winpic{
    width:100%;
    position: absolute;


}
#exchangecode{
    position: absolute;
    font-size: 0.6em;
    color:#ca273a;
    top:22.4em;
    left:11.2em;
}












